################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AI.API/obj
/AI.ChatGPTIntegration/bin/Debug/net9.0
/AI.ChatGPTIntegration/obj
